<div class="card-user-infos">
  <h4>
    <%= user.first_name %>
    <%= user.last_name[0,1] %>.
  </h4>
  <p>
    <%= user.current_title.name %> @<%= user.current_company.name %>
  </p>
</div>

<div class="card-user-user">
  <img src='https://kitt.lewagon.com/placeholder/users/giuliagoe' class="card-user-user avatar-bordered"/>
</div>
