<div class="mymeetings">
  <% @pending_meetings.each do |meeting| %>
    <%= render "meetings/pending_request_card", meeting: meeting %>
  <% end %>

  <% @accepted_meetings.each do |meeting| %>
    <%= render "meetings/accepted_request_card", meeting: meeting %>
  <% end %>

  <% @declined_meetings.each do |meeting| %>
    <%= render "meetings/declined_request_card", meeting: meeting %>
  <% end %>

  <% @cancelled_meetings.each do |meeting| %>
    <%= render "meetings/cancelled_request_card", meeting: meeting %>
  <% end %>
</div>

