<div class="mymeetings">
  <h3 class="header-3">My upcoming meetings </h3>
  <% @pending_meetings.each do |meeting| %>
    <%= render "meetings/pending_request_card", meeting: meeting %>
  <% end %>

  <% @accepted_meetings.each do |meeting| %>
    <%= render "meetings/accepted_request_card", meeting: meeting %>
  <% end %>

  <h3 class="header-3">My past meetings</h3>
   <% @past_meetings.each do |meeting| %>
    <%= render "meetings/past_request_card", meeting: meeting %>
  <% end %>
</div>
