// Define variables for your color scheme

// For example:
$orange: #FD5F00;
$darkblue: #00204A;
$middleblue: #005792;
$lightblue: #D9FAFF;
$grey: #949396;
$white: #FAFAFA;

//define hover colors
$orangehover: #e35500;
$darkbluehover: #001c42;
$middlebluehover: #004e83;
$lightbluehover: #c3e1e5;
$greyhover: #858487;
$whitehover: #e1e1e1;
