

.wrapper-home-first-scroll {
  background: $darkblue;
  height: 100vh;
  width: 100%;
  color: white;
  padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

.center-items {
  text-align: center;
}

.typed {
  // position: absolute;
  margin-top: 70px;
  // margin-left: -30px;
}

.typed h3 {
  color: $orange;
}

.intro-container {
  margin-top: 400px;
  width: 100%;
  padding: 0px 20px;
}

.description {
  margin-top: 50px;
  margin-left: 25px;
  max-width: 229px;

  h5 {
    font-size: 22px
  }
}

.description p {
  line-height: 160%;
  font-size: 18px
}

.click-down {
  margin-top: 80px;
}

.wrapper-home-second-scroll {
  height: 100vh;
  background-color: $grey;
  color: white;
  padding-top: 45px;
  padding-left: 35px;
  padding-right: 10px;

  .description {
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 25px;
    h5 {
      font-size: 30px;
    }
  }

  .tagline {
    width: 230px;
    p {
      font-size: 20px;
      font-weight: lighter;
    }
  }

  .meet-nextbuddy {
    margin-top: 50px;
    h4 {
      font-size: 30px;
      font-weight: bold;
    }
    p {
      font-weight: lighter;
    }
  }

  .index-iphone {
    margin-top: 50px;
    margin-left: 25px;
  }
}
// Specific CSS for your home-page
