.wrapper-home-first-scroll {
  background: $darkblue;
  height: 100vh;
  width: 100%;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-login-btn {
  font-size: 20px;
  height: 48px;
  padding-right: 16px;
  margin-top: 20px;
}

.center-items {
  text-align: center;
}

//provitional
.home-logo {
width: 80px;
height: 80px;
background: white;
border-radius: 50%;
display: inline-block;
}
//

.home-intro-container {
  text-align: center;
  font-size: 37px;
  padding: 10px;
  line-height: 48px;
  margin-top: 30px;
}

.home-click-down {
  margin-top: 80px;
  border: 3px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 36%;
    height: auto;
  }
}

.home-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #dc9b48;
  color: white;
  padding-top: 45px;
  padding-left: 35px;
  padding-right: 10px;

  .description {
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 25px;
    h5 {
      font-size: 30px;
    }
  }

  .tagline {
    width: 230px;
    p {
      font-size: 20px;
      font-weight: lighter;
    }
  }

  .meet-nextbuddy {
    margin-top: 50px;
    h4 {
      font-size: 30px;
      font-weight: bold;
    }
    p {
      font-weight: lighter;
    }
  }

  .index-iphone {
    margin-left: 25px;
  }
}

.home-screen-banner {
  display: flex;
  width: 100%;
}
.home-screen-banner-header {
  margin: 0;
}
.home-screen-banner-description {

}
.home-screen-banner-top {
  color: white;
}

// Specific CSS for your home-page
// .typed {
//   position: absolute;
//   margin-top: 70px;
//   margin-left: -30px;
// }
// .typed h3 {
//   color: $orange;
// }
