.placeholder-userindex {
  height: 333.5px;
  background-color: green;
  text-align: center;
  padding-top: 150px;
}

.horizontal-list {
  list-style: none;
}

.horizontal-list li {
  display: inline;
}
