.placeholder-userindex {
  height: 333.5px;
  background-color: green;
  text-align: center;
  padding-top: 150px;
}

// This scrolling wrapper makes the cards inside there scrollable to the right.

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-right: 20px;
  padding-left: 20px;

  .card-user {
    display: inline-block;
  }
}

