.placeholder-userindex {
  height: 333.5px;
  background-color: green;
  text-align: center;
  padding-top: 150px;
}

// This scrolling wrapper makes the cards inside there scrollable to the right.

.scrolling-wrapper {
  padding-top: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  .card-user {
    display: inline-block;
  }
  a {
    color: inherit;
  }
}

.map-flexbox {
  display: flex;
  position: relative;
}
