<div class="scrolling-wrapper">
  <div class="card-user">
    <div class="card-user-infos">
      <div>
        <h2>
          <%= @user.first_name %>
          <%= @user.last_name %>
        </h2>
        <p>@LeWagon</p>
        <br>
        <h3> Senior Developer </h3>
      </div>
    </div>
    <div class="card-user-user">
      <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-user-user avatar-bordered"/>
    </div>
    <div class="card-user-distance">
        <p> ~350m away </p>
    </div>
  </div>
</div>


