<div class="footer-big">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="footer-widget">
          <div class="home-logo">
            <%= image_tag "https://res.cloudinary.com/giugoe/image/upload/v1552261209/NB_logo.png", height: 100 %>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4">
        <div class="footer-menu footer-menu--1">
          <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Connect</a></li>
            <li><a href="#">Find</a></li>
            <li><a href="#">Discover</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">nextBuddy PRO</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="social-media text-center">
  <ul class="social-icons">
    <li>
      <a href="https://www.facebook.com/" target="_blank" class="s-icon"><i class="fab fa-facebook-f"></i></a></li>
    <li>
      <a href="https://www.twitter.com/" target="_blank" class="s-icon"><i class="fab fa-twitter"></i></a></li>
    <li>
      <a href="https://www.youtube.com/" target="_blank" class="s-icon"><i class="fab fa-youtube"></i></a></li>
    <li>
      <a href="https://www.linkedin.com/" target="_blank" class="s-icon"><i class="fab fa-linkedin-in"></i></a></li>
    <li>
      <a href="https://plus.google.com/" target="_blank" class="s-icon"><i class="fab fa-google-plus-square"></i></a></li>
  </ul>
</div>

<div class="mini-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright-text">
          <p>© 2019
            <a href="#">nextBuddy</a>. All rights reserved. Created by
            <a href="#">nextBuddy</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

