<div class="wrapper-home-first-scroll">
  <div class="center-items">
    <div class="logo-home">
      <%= image_tag "https://res.cloudinary.com/giugoe/image/upload/v1552181634/image.png", height: 50 %>
    </div>
    <div class="typed">
      <h4>professional networking.</h4>
      <h3><span id="banner-typed-text"></span></h3>
    </div>
  </div>
  <div class="intro-container">
    <div class="description">
      <p>Meet informally</p>
      <p>with relevant connections.</p>
      <p>A new way of networking reworked for</p>
      <p><strong>the digital age.</p></strong>
    </div>
  </div>


  <div class="center-items">
    <div class="click-down">
      <a href="#short-answer">
        <%= image_tag "https://res.cloudinary.com/giugoe/image/upload/v1552184544/Arrows_down.png", height: 40 %>
      </a>
    </div>
  </div>
</div>

<div class="wrapper-home-second-scroll">
    <h2 id="short-answer">Scroll here<h2>
    <p>blah blah blah</p>
</div>

