<div class="wrapper-home-first-scroll">
  <div class="center-items">
    <div class="logo-home">
      <%= image_tag "https://res.cloudinary.com/giugoe/image/upload/v1552181634/image.png", height: 100 %>
    </div>
    <div class="typed">
      <h4>professional networking.</h4>
      <h3><span id="banner-typed-text"></span></h3>
    </div>
  </div>
  <div class="intro-container">
    <div class="description">
      <p>Meet informally with relevant connections. A new way of networking reworked for</p>
      <h5><strong><u>the digital age.</u></strong></h5>
    </div>
  </div>


  <div class="center-items">
    <div class="click-down">
      <a href="#2">
        <%= image_tag "https://res.cloudinary.com/giugoe/image/upload/v1552260970/Arrows_down_nobackground.png", height: 50 %>
      </a>
    </div>
  </div>
</div>

<div class="wrapper-home-second-scroll" id="2">
  <div class="description">
    <h5>nothing really exciting ever happened on LinkedIn.</h5>
  </div>

  <div class="tagline">
    <p><em>meet the last networking tool you'll ever use.</em></p>
  </div>

  <div class="meet-nextbuddy">
    <h4>meet nextBuddy</h4>
    <p>app interface</p>
  </div>

  <div class="index-iphone">
    <%= image_tag "https://res.cloudinary.com/giugoe/image/upload/v1552307084/iPhone_index.png", width: "250px" %>
  </div>

</div>

