
.btn-log-in-with {
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
  background-color: #1674B1;
  padding: 10px 8px 10px 16px;
  height: 40px;
  transition-duration: 167ms;
  transition-timing-function: cubic-bezier(0,0,.2,1);
  vertical-align: middle;
}


.btn-log-in-with:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #106097;
}

.btn-sign-up-with {
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
  background-color: #1674B1;
  padding: 10px 8px 10px 16px;
  height: 40px;
  transition-duration: 167ms;
  transition-timing-function: cubic-bezier(0,0,.2,1);
  vertical-align: middle;
  margin-top: 25px;
}


.btn-sign-up-with:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #106097;
}
