.btn-log-in-with {
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
  background-color: #1674B1;
  padding: 10px 8px 10px 16px;
  height: 40px;
  transition-duration: 167ms;
  transition-timing-function: cubic-bezier(0,0,.2,1);
  vertical-align: middle;
}
.btn-log-in-with:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #106097;
}

.centeredbutton {
  text-align: center;
  margin-top: 10px;
}

.btn-orange {
  background-color: $orange;
  color: white;
  border: none
}

.btn-orange:hover {
  // background-color: $orangehover;
  color: white;
  border: none
}

.btn-sign-up-with {
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
  background-color: #1674B1;
  padding: 10px 8px 10px 16px;
  height: 40px;
  transition-duration: 167ms;
  transition-timing-function: cubic-bezier(0,0,.2,1);
  vertical-align: middle;
  margin-top: 25px;
}
.btn-sign-up-with:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #106097;
}
.btn-book-meeting {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $orange;
  transition: background 0.3s ease;
}
.btn-book-meeting:hover {
  background: $orangehover;
  color: white;
}

.button-space{
   display: flex;
}
