// Sign In card
.card-signin {
  overflow: hidden;
  height: 100%;
  background: white;
  align-items: center;
  margin: 5px 0px;
  position: relative;
  border-radius: 5px;
  width: auto;
  margin-top: 40px;
  padding: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
}
