/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: montserrat, arial, verdana;
    background: transparent;
}

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;

    /*stacking fieldsets above each other*/
    position: relative;

    label {
      display: block;
      display: block;
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px solid #eee;
    }
}

/*Hide all except first fieldset*/
// #msform fieldset:not(:first-of-type) {
//     display: none;
// }

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #D36C2D;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .form-step-next, #msform .form-step-submit {
    width: 100px;
    background: #D36C2D;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .form-step-next:hover, .form-step-submit:hover, #msform .form-step-next:focus, .form-step-submit:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #D36C2D;
}

#msform .form-step-previous {
    width: 100px;
    background: white;
    font-weight: bold;
    color: black;
    border: 1;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .form-step-previous:hover, #msform .form-step-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #CCCCCC;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  opacity: 1;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  background-color: #FA5F02;
}

// form Steps
.multistep-form {
  .form-step {
    display: none;
  }
  .form-step-active{
    display: block;
  }
}

