/****** from index.html.erb *****/
.mymeetings {
  margin-top: 10px;
}
/********************************/

// CSS for meetings/new view!
.request-meeting {
  padding: 20px;
  h3 {
    font-size: 30px;
  }
}
.request-margin {
  margin: 20px 0px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
// preview cards on make a request view!
.card-user-preview-infos {
}

// Style for  _pending_request_card and _accepted_request_card views
.card-meetings {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin: 5px 5px;
  padding: 5px 5px;
  height: 170px;
  font-size: 14px;
  position: relative;
}
.card-meetings:hover {
  box-shadow: 0 0 10px;
}
.meeting-name {
  position: absolute;
    left: 68px;
    top: 5px;
    font-weight: bold;
    padding-top: 3px;
    /* max-width: 104px; */
    font-size: 20px;
    color: black;
    :hover {
      text-decoration: underline;
    }
}


.meeting-message {
  position: absolute;
    left: 5px;
    top: 66px;
    width: auto;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-right: 4px;
}

.header-3 {
  padding-left: 10px;
  font-size: 30px;
  color: $orange;
}

.meeting-message-past {
    position: absolute;
    left: 56px;
    top: 77px;
    // border: 2px solid grey;
    width: auto;
    padding: 6px 6px;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-right: 4px;
  p {
    line-height: 120%;
  font-size: 15px;
  margin: 0 0;
  }
}

.meeting-date {
  position: absolute;
  left: 130px;
  top: 120px;
  font-weight: lighter;
  padding: 0px;
}
.meeting-title {
  position: absolute;
    left: 68px;
    top: 30px;
    font-weight: lighter;
    padding: 0px;
    max-width: auto;
}
.meeting-company {
  position: absolute;
    left: 68px;
    top: 45px;
    font-weight: lighter;
    padding: 0px;
    max-width: auto;
}
.meeting-status {
  right: 15px;
    position: absolute;
    /* left: 291px; */
    top: 39px;
    font-weight: bold;
    padding: 0px;
    .pending {
      color: $orange;
    }

    .accepted {
      color: green;
    }
}
.meeting-responsibility {
    right: 10px;
    position: absolute;
    /* left: 6px; */
    top: 10px;
    font-weight: lighter;
    padding: 0px;

  .responsibility-icon {
    height: 26px;
  }
}

.mail-user {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 25px;
  .fa-envelope{
  color: black;
  }
}

.smaller-font {
  font-size: 14px;
}

.meeting-responsibility-past {
  right: 10px;
  position: absolute;
  /* left: 6px; */
  top: 10px;
  font-weight: lighter;
  padding-right: 7px;
  font-size: 28px;
  color: green;
}

.request-meeting-select {
  width: 100%;
}

.request-meeting-option {
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style-type: none;

  input {
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;
  }

  label {
    border: 1px solid #ddd;
    padding: 5px 12px;
    margin-right: 5px;
    border-radius: 2px;
    color: #444;
    font-weight: normal;
    margin: 0 3px 3px 0;
    text-align: center;
  }

  input:checked + label {
    background: $orange;
    color: white;
  }

  &--time {
    label {
      width: 75px;
    }
  }

  &--date {
    label {
      width: 130px;
    }
  }
    &--location {
    label {
      width: 250px;
    }
  }
  &--topic {
    width: 100%;
    padding: 5px 10px;
  }
}

.request-welcome {
  color: $orange;
}

// .request-date {
//   position: absolute;
//   left: 15px;
//   top: 15px;
//   font-weight: lighter;
//   padding: 0px;
// }
// .request-career {
//     position: absolute;
//     right: 5px;
//     top: 12px;
//     font-weight: lighter;
//     padding: 0px;
//     max-width: 80px;
// }
.request-meeting-heading {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 20px 0;
}
.request-preview-button {
  background: none;
  margin-left: 0px;
  font-size: 14px;
}

