/****** from index.html.erb *****/
.mymeetings {
  margin-top: 10px;
}
/********************************/

// CSS for meetings/new view!
.request-meeting {
  list-style: none;
}
.request-margin {
  margin: 20px 0px;
}
// preview cards on make a request view!
.card-user-preview-infos {
}

// Style for  _pending_request_card and _accepted_request_card views
.card-meetings {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin: 5px 5px;
  padding: 5px 5px;
  height: 170px;
  font-size: 14px;
  position: relative;
}
.card-meetings:hover {
  box-shadow: 0 0 10px;
}
.meeting-name {
  position: absolute;
    left: 68px;
    top: 5px;
    font-weight: bold;
    padding-top: 3px;
    /* max-width: 104px; */
    font-size: 20px;
    color: black;
    :hover {
      text-decoration: underline;
    }
}


.meeting-message {
  position: absolute;
    left: 5px;
    top: 66px;
    width: auto;
    font-weight: lighter;
    margin-bottom: 10px;
}
.meeting-date {
  position: absolute;
  left: 130px;
  top: 120px;
  font-weight: lighter;
  padding: 0px;
}
.meeting-title {
  position: absolute;
    left: 68px;
    top: 30px;
    font-weight: lighter;
    padding: 0px;
    max-width: auto;
}
.meeting-company {
  position: absolute;
    left: 68px;
    top: 45px;
    font-weight: lighter;
    padding: 0px;
    max-width: auto;
}
.meeting-status {
  right: 15px;
    position: absolute;
    /* left: 291px; */
    top: 39px;
    font-weight: bold;
    padding: 0px;
    .pending {
      color: $orange;
    }

    .accepted {
      color: green;
    }
}
.meeting-responsibility {
    right: 10px;
    position: absolute;
    /* left: 6px; */
    top: 10px;
    font-weight: lighter;
    padding: 0px;

  .responsibility-icon {
    height: 26px;
  }
}


// .request-date {
//   position: absolute;
//   left: 15px;
//   top: 15px;
//   font-weight: lighter;
//   padding: 0px;
// }
// .request-career {
//     position: absolute;
//     right: 5px;
//     top: 12px;
//     font-weight: lighter;
//     padding: 0px;
//     max-width: 80px;
// }
