/* Main navbar */
.navbar-nextbuddy {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* Logo */
.navbar-nextbuddy-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-nextbuddy .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-nextbuddy-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-nextbuddy-item {
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;

  .navbar-logo {
    padding-left: 10px;
  }
  .navbar-dropdown {
    padding-right: 20px;
  }
  .navbar-search {
    flex-grow: 1;
    margin: 5px 20px;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    position: relative;
    padding-left: 25px;
    input {
      -webkit-appearance: none;
      border: 0;
      outline: none!important;
    }
  }

  .navbar-search-icon {
    position: absolute;
    top: 10px;
    left: 0;
    color: #ccc;
  }
}

/* Navbar link */
.navbar-nextbuddy-link {
  color: #616668;
  font-size: 14px;
}
.navbar-nextbuddy-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-nextbuddy-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-nextbuddy-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 5px 15px;
}
.navbar-nextbuddy-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-nextbuddy-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 20px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.dropdown-menu .dropdown-menu-right .navbar-nextbuddy-dropdown-menu {
  position: absolute;
  //left: 10px;
}
