.preview {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  background-color: rgba(224,224,224,0.6);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;

  h3 {
    margin-top: 0px;
  }
  p {
    font-size: 16px;
    color: black;
  }
}
.preview:last-child {
  border-bottom: none;
}
.preview-body {
  flex-grow: 1;

  p {
    margin: 0;
  }
}
.preview-sender {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 15px;
}
.preview-sender h3 {
  font-size: 13px;
  margin-bottom: 0px;
}

.preview-body {
  font-size: 13px;
  color: rgba(0,0,0,0.7);
  width: 280px;
  padding-left: 7px;
}
.preview-body {
  color: rgba(0,0,0,0.4);
}
.preview-body .strong{
  color: rgba(0,0,0,0.9);
}

.preview-status {
  font-size: 14px;
  font-weight: bold;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}
